@import '~/node_modules/bootstrap/dist/css/bootstrap.min.css';
.cont1{
    height: 600px;
    background-color: lightgray;
    padding: 30px;
    /* width: 200px; */
    
}
.para{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: black;
}
.App{
    height: 100%;
    
}